<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
<head>
    <title>Ryan Wiesenberg - About</title>
    <%- include /src/templates/partials/head.ejs%>
</head>
<body>
<%- include /src/templates/partials/header.ejs%>
About
<%- include /src/templates/partials/footer.ejs%>
</body>
</html>