<div class="footer" id="footer">
    <div class="col-md-6 col-sm">
        <a href="https://instagram.com/ryanwiesenberg/" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
    </div>
    <div class="col-md-6 col-sm">
        &copy 2018
        <a href="index.html">rmwiesenberg.com </a> |
        <a href="https://github.com/rmwiesenberg/website">Source: github.com</a> |
        All Right Reserved
    </div>
</div>
<script src="/app.bundle.js"></script>