<div class="footer" id="footer">
    <div class="social">
        <a href="mailto:rwiesenberg603@gmail.com">
            <i class="fa fa-envelope"></i>
        </a> &nbsp;
        <a href="https://www.linkedin.com/in/ryan-wiesenberg-26458284">
            <i class="fa fa-linkedin"></i>
        </a> &nbsp;
        <a href="https://github.com/rmwiesenberg">
            <i class="fa fa-github"></i>
        </a> &nbsp;
        <a href="http://instagram.com/ryanwiesenberg">
            <i class="fa fa-instagram"></i>
        </a>
    </div>
    <div class="sourcing">
            <a href="/index.html">rmwiesenberg.com </a> |
            <a href="https://github.com/rmwiesenberg/website">Website Source: github.com</a>
    </div>
</div>