<div class="for-full-back" style="text-align: right" id="footer">
    &copy 2018
    <a href="index.html">rmwiesenberg.com </a> |
    <a href="https://github.com/rmwiesenberg/website">Source: github.com</a> |
    All Right Reserved
</div>