<div class="footer" id="footer">
    <div class="col-md-6 col-sm">
        <a href="index.html">rmwiesenberg.com </a> |
        <a href="https://github.com/rmwiesenberg/website">Source: github.com</a>
    </div>
</div>