:root{
    --blue: #1f3e60;
    --green:#32601e;
    --purple:#3a0184;
    --gray:#6b6b6b;
}

.navbar{
    margin-bottom: 1px;
}

.slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
}
.slider > div {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 300px;
    height: 300px;
}