:root{
    --blue: #1f3e60;
    --green:#32601e;
    --purple:#3a0184;
    --gray:#6b6b6b;
}

.navbar{
    margin-bottom: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 480px;
    width: auto;
}

.home-image {
    background-color: var(--gray);
}